asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
contourpy @ file:///home/builder/.termux-build/python-contourpy/src/dist/contourpy-1.3.3-cp314-cp314-android_aarch64.whl#sha256=f11e072c913ecfd663fcd93e5c8237f5e0aad8fcc85abaa62095906c79f436c5
cryptography @ file:///home/builder/.termux-build/python-cryptography/src
cycler==0.12.1
Django==6.1
fonttools==4.63.0
google-auth==2.56.3
google-auth-oauthlib==1.4.0
grpcio @ file:///home/builder/.termux-build/python-grpcio/src
gspread==6.2.1
idna==3.18
kiwisolver==1.5.0
matplotlib @ file:///home/builder/.termux-build/matplotlib/src/dist/matplotlib-3.11.1-cp314-cp314-android_aarch64.whl#sha256=753406a13bceba7596cec5872e0c8c9f535abbbeba96896babd3c5f352ea963f
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.4.4-cp314-cp314-android_aarch64.whl#sha256=68ef31f0d8925d96da2b5e014c2c3d32a16dd68887329eeecb7f3a548222e24d
oauthlib==3.3.1
opencv_contrib_python @ file:///home/builder/.termux-build/python-opencv-python/src
opencv_python @ file:///home/builder/.termux-build/python-opencv-python/src
packaging==26.3
pillow @ file:///home/builder/.termux-build/python-pillow/src
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
